<?xml version="1.0" encoding="UTF-8"?>
<!--
This file represents Logging Config.
Note that while Log4j supports runtime configuration changes, not all changes MAY affect the actual logging
(e.g. some Echo and Control Servers logging made via Netty logging handlers)

${sys:pies.appHome} can be used to refer to Application Home.
${sys:pies.configsLocation} can be used to refer to Logs Location.
-->
<Configuration name="Logging Config" status="warn" monitorInterval="10" strict="true">
	<Properties>
		<Property name="pies.charset">UTF-8</Property>
		<Property name="pies.layoutPattern">
			[%-5level] [%d{yyyy-MM-dd'T'HH:mm:ss.SSSZ}] [%t] [%logger] - %msg%n
		</Property>
		<Property name="pies.applicationLogFileName">application.log</Property>
		<Property name="pies.applicationLogFile">${sys:pies.logsLocation}/${pies.applicationLogFileName}</Property>
	</Properties>
	<Appenders>
		<Appender type="RollingFile" name="applicationLog" fileName="${pies.applicationLogFile}" immediateFlush="true"
				  filePattern="${sys:pies.logsLocation}/${pies.applicationLogFileName}_#%i">
			<Layout type="PatternLayout" charset="${pies.charset}">
				<Pattern>${pies.layoutPattern}</Pattern>
			</Layout>
			<Policies>
				<OnStartupTriggeringPolicy/>
				<SizeBasedTriggeringPolicy size="30 MB"/>
			</Policies>
			<DefaultRolloverStrategy max="10"/>
		</Appender>
	</Appenders>
	<!--
	Note that while Log4j performs monitoring of changes in Logging Config
	there MAY be some places where logging level can't be changed at runtime.
	E.g. where io.netty.handler.logging.LoggingHandler is used.
	-->
	<Loggers>
		<Root level="debug">
			<AppenderRef ref="applicationLog"/>
		</Root>
		<Logger name="com.gl.vn.me.ko.pies" additivity="false" level="debug">
			<AppenderRef ref="applicationLog"/>
		</Logger>
	</Loggers>
</Configuration>